.member{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;

  padding: 15px;
  border-radius: 30px;
  background-color: var(--color-bg-content);
  border:1px solid var(--color-border-content);
  color: var(--color-text);
  position: relative;
}

.member_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .member_image{
    display: flex;
    justify-content: center;
    img{
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid var(--color-accent);
    }
  }

  .member_description{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    .member_nickname{
      font-size: 24px;
    }
    .member_icon{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .member_role{
    font-size: 16px;
  }

}


.member_stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;

  .stat_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    .stat_value{
      font-size: 24px;
    }
    .stat_name{
      font-size: 12px;
    }
  }
}

.edit_btn{
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 60px;
  color: var(--color-accent);
  box-sizing: border-box;
}