*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* важно для удобства работы с размерами */
}

/* Убираем подчеркивание у ссылок и задаем цвет */
a {
  color: inherit;
  text-decoration: none;
}

/* Убираем стили списков */
ul,
ol {
  list-style: none;
}

/* Кнопки и input без обводки и фона по умолчанию */
button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

/* Курсор для кнопок */
button {
  cursor: pointer;
}

/* Изображения — чтобы не выходили за контейнер */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-base);
  font-size: var(--font-base);
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text);
}
