*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /*--bg-color: var(--tg-theme-bg-color);*/
  font-family: sans-serif;
  /*color: var(--tg-theme-text-color, #222);*/
  font-size: 14px;
  margin: 0;
  padding: 0;
  /*color-scheme: var(--tg-color-scheme);*/
  /*background-color: var(--tg-theme-bg-color);*/
  /*padding-top: calc(var(--tg-safe-area-inset-top, 45px) + var(--tg-content-safe-area-inset-top, 45px));*/
  background: var(--color-bg);
}

.custom_pane{
  overscroll-behavior: contain;
}
.custom_pane .pane{
  padding-top: 0;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  overflow: hidden;
  /*border: 4px dotted orange;*/
  position: relative;
}

.wrapper{
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  /*border: 5px double orchid;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal{
  width: 100%;
  height: 70%;
  background-color: var(--color-bg);
  border-radius: 45px 45px 0 0;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  touch-action: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}

.line{
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 30px;
  
  span{
  display: inline-block;
  height: 6px;
  width: 70px;
  border-radius: 3px;
  background: var(--color-accent);
  }
}

.content{
  overflow: scroll;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  height: 100%;
  -ms-overflow-style: none;
    scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.input{
  display: block;
  min-height: 50px;
  width: 100%;
}

.controls{
  flex-shrink: 0;
  padding-block: 15px;
}

.rr{
  position: absolute;
  z-index: 9999;
}