*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /*--bg-color: var(--tg-theme-bg-color);*/
  font-family: sans-serif;
  /*color: var(--tg-theme-text-color, #222);*/
  font-size: 14px;
  margin: 0;
  padding: 0;
  /*color-scheme: var(--tg-color-scheme);*/
  /*background-color: var(--tg-theme-bg-color);*/
  /*padding-top: calc(var(--tg-safe-area-inset-top, 45px) + var(--tg-content-safe-area-inset-top, 45px));*/
  background: var(--color-bg);
}
