:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --color-bg:#10131A;
  --color-bg-content: #181C23;
  --color-border-content: #1d2128;
  --color-text:#fff;
  --color-accent:#5C57B5;
  --color-label: #5c57b5;
  --color-secondary-accent: #ccc;

  --cupertino-pane-background:#10131A; 
  --cupertino-pane-border-radius: 45px;
  --cupertino-pane-destroy-button-background: #10131A; /* Цвет фона кнопки закрытия */
  --cupertino-pane-icon-close-color: #5C57B5; 
}



