.label{
  display: block;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1;
  height: 16px;
  color: var(--color-label)
} 
.input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  margin-block: 8px;
  font-size: 16px;
  height: 56px;
  border-radius: 8px;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  border:1px solid var(--color-border-content);
  background: var(--color-bg-content);
  &:focus {
    border: 2px solid var(--color-accent);
    caret-color: var(--color-accent);
  }
}

.warning{
  display: flex;
  align-items: center;
  height: 16px;
  padding-left: 16px;
  font-size: 10px;
  line-height: 1;
  color: indianred;
}